body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

header {
  padding: 50px 344px 220px;
  margin: 50px 140px 120px 140px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 70%),
    url("../images/Banner Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banner {
  text-align: center;
}

#h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

#h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}

main section {
  margin-top: 120px;
}

.second {
  width: 1600px;
  text-align: center;
}

.first-title {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 48px;
}

.paragraph {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottomn: 16px;
  margin-top: 0px;
}

.second-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
}

.middle {
  margin: 124px 140px 80px 140px;
  padding: 50px 552px 250px 120px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 90%),
    url("../images/Vectorrr.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  height: 300px;
  width: 800px;
}

.new {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 0;
}

.paragraph-2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}

.img {
  width: 20px;
  height: 70px;
}

.banner-2 {
  display: flex;
  justify-content: space-between;
}

.button {
  text-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.card {
  margin: 124px 0px 80px 140px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  width: 570px;
  height: 482px;
  padding: 100px 380px;
}

.start {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}

.end {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.card-items {
  text-align: center;
}

.btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border-style: none;
}

.circle {
  margin: 120px, 140px;
  width: 1600px;
  height: 700px;
}

.offer {
  display: flex;
}

.one {
  width: 250px;
  padding: 0 0 0 150px;
}

.two {
  width: 370px;
  border-radius: 450px;
  border: 15px solid #f00;
  padding: 25px;
}

.third {
  padding: 0 0 0 220px;
  width: 200px;
}

.unknown {
  padding: 0 0 0 190px;
}

#sas {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#sas-2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

#sas-3 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

#grd {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

#grd-2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.shopping {
  margin: 120px 140px;
}

.pic {
  width: 400px;
  height: 450px;
}

.art {
  margin-bottom: 24px;
}

#side {
  padding-left: 20px;
}

#side-2 {
  padding-left: 20px;
}

#side-3 {
  padding-left: 20px;
}

#side-4 {
  padding-left: 20px;
}

.gift {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.awesome {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.note {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.papers {
  margin: 124px 0px 80px 140px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  width: 570px;
  height: 482px;
  padding: 100px 380px;
}
.items {
  text-align: center;
}

.form {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
  text-align: center;
}

.footer-column {
  background: #070211;
  width: 1600px;
  height: 500px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.first-row {
  display: flex;
  gap: 3px;
}

.second-row {
  display: flex;
  gap: 5px;
  margin-bottom: 245px;
}

.address-2 {
  margin-bottom: 250px;
  margin-top: 50px;
}

.social-links {
  margin-top: 150px;
  margin-right: 100px;
}

.bonus {
  margin: 120px 140px;
  width: 1320px;
  height: 650px;
  background-image: url("../images/Rectangle 2.png");
  background-size: 100% 29%;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 16px 0px 16px 16px;
}

.extra {
  text-align: center;
}

/* .photograph {
  display: flex;
} */

#img-1 {
  width: 400px;
  height: 300px;
  margin-top: 52px;
  margin-left: 35px;
}

#img-2 {
  width: 1320px;
  height: 100px;
}

#img-3 {
  width: 200px;
  height: 250px;
  margin-bottom: 150px;
  margin-left: 70px;
}

#img-4 {
  width: 200px;
  height: 250px;
  margin-bottom: 150px;
}

.try {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

input[type="email"] {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  width: 648px;
  height: 72px;
}

.click {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border-style: none;
  width: 210px;
  height: 77px;
}

.news {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.news-p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.p {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0px;
}

.r {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 0px;
}

.k {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}

.add {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  width: 370px;
  height: 80px;
}

.address-3 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.num {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.call {
  margin-top: 27px;
  width: 24px;
  height: 24px;
}

.tap {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-left: 30px;
}

.web {
  margin-top: 27px;
  width: 24px;
  height: 24px;
}

.var {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
